* {
    font-family: 'Lora', serif;
}

html, body {
    height: 100%;
}

header {
    height: 40%;
    padding: 50px 40px;
    background: linear-gradient( #f3c09b9c, rgba(255, 250, 245, 1));
}

.important {
    font-weight: bold;
    padding-left: 15px;
    padding-right: 5px;
}


section {
    height: 60%;
    background-color: rgb(255, 250, 245);
}

.center {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-group {
    width: 500px;
}